.custom-input {
  position: relative;
  $root: &;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    transition: background-color $transition-300, border-color $transition-300, color $transition-300;

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }

    &:hover {
      background-color: rgba($color-grey, .07);
    }

    &:hover::placeholder {
      color: $color-deep-teal;
    }

    &:focus-visible {
      border-color: rgba($color-grey, .4);
      outline: none;
    }

    &:disabled {
      background-color: $color-silver;
      color: $color-grey;
    }

    &:disabled::placeholder {
      color: $color-grey;
    }

    &:disabled:hover {
      background-color: $color-silver;
    }

    &:disabled:hover::placeholder {
      color: $color-grey;
    }
  }

  &__error-message {
    display: none;
    color: $color-orange-red;
  }

  &--error {
        #{$root}__error-message {
      display: block;
    }
    #{$root}__field {
      border: 1px solid $color-orange-red;
      background-color: rgba($color-orange-red, .05);

      &::placeholder {
        color: rgba($color-orange-red, 0.3);
      }

      &:hover {
        background-color: rgba($color-orange-red, .07);
      }

      &:hover::placeholder {
        color: $color-orange-red;
      }

      &:focus-visible {
        border-color: rgba($color-orange-red, .4);
        outline: none;
      }
    }
    }
}